* {
    margin: 0;
    box-sizing: border-box;
    --primary-color:#ffffff;
}


body {
    color:var(--primary-color);
    font-family:'DM Sans' , sans-serif;
    background-color:rgb(1, 5, 41);
    text-align:center;
    background-image:url(assets/2560x1440_night-trees-stars-darkness-dark.jpg)
}

h1 {
    margin-bottom: 1rem;
}

#container {
    margin-top:100px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

input {
    border:none;
    margin-bottom:11px;
    text-align: center;
    border: none;
}

button, input {
   display: block;
   width: 100%;

   padding: 20px;
   border-radius: 30px;
}

button {
    background-color:rgba(57, 6, 116, 0.822);
    color: white;
    border: none;
    transition: filter .2s;

}

button:hover {
    background-color: rgba(93, 13, 131, 0.432);
    transition:brightness (1.2);
    cursor: pointer;
}


p {
    margin:20px;
    opacity: 0.7;
}

#resposta {
    margin-top: 38px;

}

#resposta div {
    font-size:16px;
    font-weight:normal;
    opacity: 0.9;
    margin-bottom: 18px;
}